{% extends 'base.html.twig' %}

{% block stylesheets %}
	<style>
		.text-center {
			text-align: center;
		}
		.ms-3 {
			margin-left: 3px;
		}
		.text-end {
			text-align: end;
		}
		.me-3 {
			margin-right: 3px;
		}
	</style>
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
	<h1 class="text-center">
		<img src="https://cdn.discordapp.com/attachments/535565827534094336/1062930211169108068/VraiLogo.png" alt="Logo" class="d-flex justify-content-center align-items-center" width="200px" height="200px">
		<br>
		Reset your password
	</h1>
	<br>
	<h2 class="ms-3">Hi
		{{ user.firstName }}
		{{ user.lastName }}
		!</h2>
	<br>
	<p class="ms-3">
		You sent a request to reset your password.
	</p>
	<p class="ms-3">
		If you did not request a password reset, please ignore this email.
	</p>
	<p class="ms-3">
		If you did request a password reset, please click on the link below to reset your password.
	</p>
	<br>
	<h3 class="text-center">You can reset your password using this
		<a href="{{ path('app_users_forget_password', {'id': user.id, 'email': user.email}) }}">link</a>
	</h3>
	<br>
	<p class="ms-3">
		If you have any questions, please contact us at this<a href="mailto: checkingsystem2023@gmail.com">
			mail
		</a>
	</p>
	<br>
	<br>
	<p class="ms-3">
		Best regards,
	</p>
	<p class="ms-3">
		The Checking System Team Siuuuu
	</p>
	<br>
	<br>

	<p class="text-end me-5">
		<i>
			This is an automatic email, please do not reply to it.
		</i>
	</p>
	{% block footer %}{% endblock %}
{% endblock %}
